---

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>FSMMA by metaend.eth</title>
    <meta property="og:title" content="FSMMA by metaend.eth" />
    <meta property="og:image" content="https://placehold.co/1200x630" />
    <meta property="fc:frame" content="vNext" />
    <meta property="fc:frame:image:aspect_ratio" content="1.91:1" />
    <meta property="of:accepts:xmtp" content="2024-02-01" />
    <meta
      property="fc:frame:image"
      content="https://gateway.lighthouse.storage/ipfs/QmaEj1tvmidzXgo3p6o9rvJEh2eXZnYFPWFzfDtTQen2hL/1.png"
    />

    <meta
      property="fc:frame:post_url"
      content="https://gomma-api.onrender.com/api/fsmma"
    />

    <meta property="fc:frame:button:1" content="prev" />
    <meta property="fc:frame:button:2" content="next" />
  </head>

  <body>
    <h1>FSMMA by metaend.eth</h1>
  </body>
</html>

<style>
  body > * {
    max-width: 600px;
  }
</style>
